---
import SiteLayout from '../../layouts/SiteLayout.astro';
---
<SiteLayout title="Kontakt | Vitamiiniinfo.ee" description="Võta meiega ühendust." canonical="https://vitamiiniinfo.ee/kontakt/">
  <h1>Kontakt</h1><p>Kirjuta: toimetus@vitamiiniinfo.ee</p>
</SiteLayout>
